scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDMUFPRESTAXMLWS01v3/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified">
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element ref="Consulta">
				<xs:annotation>
					<xs:documentation>Solo en el mensaje PETICION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Retorno">
				<xs:annotation>
					<xs:documentation>Solo en el mensaje RESPUESTA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NPIE" minOccurs="0"/>
				<xs:element ref="NumeroAfiliacion"/>
				<xs:element ref="NumeroAfiliacionBeneficiario" minOccurs="0"/>
				<xs:element ref="Ejercicio">
					<xs:annotation>
						<xs:documentation>Año en formato: AAAA</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Estado"/>
				<xs:element ref="IdCertificado" minOccurs="0"/>
				<xs:element ref="Certificado" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado"/>
				<xs:element ref="LiteralError"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Ejercicio">
		<xs:annotation>
			<xs:documentation>Formato: AAAA</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[1-2]{1}[0-9]{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroAfiliacionBeneficiario">
		<xs:annotation>
			<xs:documentation>Número de afiliación a MUFACE del Beneficiario.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="11"/>
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroAfiliacion">
		<xs:annotation>
			<xs:documentation>Número de afiliación a MUFACE del Solicitante.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="11"/>
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NPIE">
		<xs:annotation>
			<xs:documentation>Número Personal de Identificación para Extranjeros. Formato: igual que el NIE pero con la primera letra K, L o M</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdCertificado">
		<xs:annotation>
			<xs:documentation>Identificador del certificado expedido. Código alfanumérico de 15 caracteres</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="15"/>
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Certificado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FechaExpedicion" type="xs:date" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Persona" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Afiliacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Documento" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="TipoDocumento" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Nombre" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Apellido1" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Apellido2" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DatosCertificado" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Codigo" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Ejercicio" type="xs:unsignedShort" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Expedientes" type="ArrayOfCertificadoDatosCertificadoExpediente" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="tipo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfCertificadoDatosCertificadoExpediente">
		<xs:sequence>
			<xs:element name="Expediente" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumeroExpediente" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Prestacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="FechaResolucion" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ImporteResolucion" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="FechaFactura" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ImporteFactura" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
