scsp-schemas-xsd-main/scsp-schemas-xsd-SVDDGTVEHICULODATOSWS01v3/src/main/resources/jaxb/SVDDGTVEHICULODATOSWS01v3/peticion/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Consulta"/>
				<xs:element ref="Retorno"/>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:annotation>
			<xs:documentation>Datos de consulta para servicio ConsultaDatosVehiculo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Matricula" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Bastidor" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="NIVE" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:annotation>
			<xs:documentation>Datos de retorno para servicio ConsultaDatosVehiculo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="Consulta" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Datos consultados</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DatosVehiculo" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Matricula">
		<xs:annotation>
			<xs:documentation>Matrícula del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="9"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Bastidor">
		<xs:annotation>
			<xs:documentation>Número de bastidor del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="17"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NIVE">
		<xs:annotation>
			<xs:documentation>NIVE del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:annotation>
						<xs:documentation>Codigo de estado: 0 - Tramitado, 1 - Error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codigo devuelto por DGT en caso de error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:annotation>
						<xs:documentation>Descripcion del estado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Datos vehículo -->
	<xs:element name="DatosVehiculo">
		<xs:annotation>
			<xs:documentation>Datos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenerales" minOccurs="0"/>
				<xs:element ref="DatosTecnicos" minOccurs="0"/>
				<xs:element ref="DatosTramites" minOccurs="0"/>
				<xs:element ref="DatosAdministrativos" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosGenerales">
		<xs:annotation>
			<xs:documentation>Datos generales del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DescripcionVehiculo" minOccurs="0"/>
				<xs:element ref="DomicilioVehiculoDGT" minOccurs="0"/>
				<xs:element ref="DomicilioVehiculoINE" minOccurs="0"/>
				<xs:element ref="Indicadores" minOccurs="0"/>
				<xs:element ref="Matriculacion" minOccurs="0"/>
				<xs:element ref="Titular" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DescripcionVehiculo">
		<xs:annotation>
			<xs:documentation>Descripción del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Bastidor" minOccurs="0"/>
				<xs:element ref="NIVE" minOccurs="0"/>
				<xs:element ref="Marca" minOccurs="0"/>
				<xs:element ref="Modelo" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Marca">
		<xs:annotation>
			<xs:documentation>Marca del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Codigo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Modelo">
		<xs:annotation>
			<xs:documentation>Modelo del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DomicilioVehiculoDGT">
		<xs:annotation>
			<xs:documentation>Domicilio en DGT del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Municipio del vehículo consultado en DGT</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DomicilioVehiculoINE">
		<xs:annotation>
			<xs:documentation>Domicilio en INE del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Municipio del vehículo consultado en INE</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DomicilioDGT">
		<xs:annotation>
			<xs:documentation>Domicilio del titular del vehículo consultado en DGT</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="NombreVia" minOccurs="0"/>
				<xs:element ref="Provincia" minOccurs="0"/>
				<xs:element name="Municipio" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Localidad" minOccurs="0"/>
				<xs:element ref="CodigoPostal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DomicilioINE">
		<xs:annotation>
			<xs:documentation>Domicilio del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="TipoVia" minOccurs="0"/>
				<xs:element ref="NombreVia" minOccurs="0"/>
				<xs:element ref="NumeroVia" minOccurs="0"/>
				<xs:element ref="Portal" minOccurs="0"/>
				<xs:element ref="Bloque" minOccurs="0"/>
				<xs:element ref="Escalera" minOccurs="0"/>
				<xs:element ref="Planta" minOccurs="0"/>
				<xs:element ref="Puerta" minOccurs="0"/>
				<xs:element ref="Kilometro" minOccurs="0"/>
				<xs:element ref="Hectometro" minOccurs="0"/>
				<xs:element ref="Provincia" minOccurs="0"/>
				<xs:element name="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Municipio de la residencia del titular del vehículo consultado en INE</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Localidad" minOccurs="0"/>
				<xs:element ref="CodigoPostal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroVia">
		<xs:annotation>
			<xs:documentation>Número de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1,4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Planta">
		<xs:annotation>
			<xs:documentation>Planta de la dirección de residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Portal">
		<xs:annotation>
			<xs:documentation>Portal de la dirección de residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Puerta">
		<xs:annotation>
			<xs:documentation>Puerta de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoVia">
		<xs:annotation>
			<xs:documentation>Código de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="5"/>
				<xs:pattern value="[a-zA-ZñÑ\.]{1,5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreVia">
		<xs:annotation>
			<xs:documentation>Nombre de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Bloque">
		<xs:annotation>
			<xs:documentation>Bloque de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Localidad">
		<xs:annotation>
			<xs:documentation>Localidad de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="70"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoPostal">
		<xs:annotation>
			<xs:documentation>Código postal de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:pattern value="\d{5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Escalera">
		<xs:annotation>
			<xs:documentation>Escalera de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="2"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Kilometro">
		<xs:annotation>
			<xs:documentation>Kilómetro de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Hectometro">
		<xs:annotation>
			<xs:documentation>Hectómetro de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Indicadores">
		<xs:annotation>
			<xs:documentation>Indicadores del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="BajaTemporal" minOccurs="0"/>
				<xs:element ref="BajaDefinitiva" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="BajaDefinitiva">
		<xs:annotation>
			<xs:documentation>Indicador de la baja definitiva del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BajaTemporal">
		<xs:annotation>
			<xs:documentation>Indicador de la baja temporal del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Matriculacion">
		<xs:annotation>
			<xs:documentation>Datos de matriculación del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="FechaMatriculacion" minOccurs="0"/>
				<xs:element ref="Matricula" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaMatriculacion">
		<xs:annotation>
			<xs:documentation>Fecha de matriculación del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Titular">
		<xs:annotation>
			<xs:documentation>Datos del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DomicilioDGT" minOccurs="0"/>
				<xs:element ref="DomicilioINE" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosTecnicos">
		<xs:annotation>
			<xs:documentation>Datos técnicos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="NivelEmisiones" minOccurs="0"/>
				<xs:element ref="Masas" minOccurs="0"/>
				<xs:element ref="Plazas" minOccurs="0"/>
				<xs:element ref="Potencias" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NivelEmisiones">
		<xs:annotation>
			<xs:documentation>Nivel de emisiones del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Masas">
		<xs:annotation>
			<xs:documentation>Datos de las masas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="MasaMaximaTecnica" minOccurs="0"/>
				<xs:element ref="MasaMaxima" minOccurs="0"/>
				<xs:element ref="MasaServicio" minOccurs="0"/>
				<xs:element ref="Tara" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="MasaMaximaTecnica">
		<xs:annotation>
			<xs:documentation>Masa máxima técnica del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasaMaxima">
		<xs:annotation>
			<xs:documentation>Masa máxima del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasaServicio">
		<xs:annotation>
			<xs:documentation>Masa de servicio del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tara">
		<xs:annotation>
			<xs:documentation>Tara del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plazas">
		<xs:annotation>
			<xs:documentation>Datos de las plazas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Mixtas" minOccurs="0"/>
				<xs:element ref="Normales" minOccurs="0"/>
				<xs:element ref="NumeroPlazasPie" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Mixtas">
		<xs:annotation>
			<xs:documentation>Número de plazas mixtas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Normales">
		<xs:annotation>
			<xs:documentation>Número de plazas normales del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroPlazasPie">
		<xs:annotation>
			<xs:documentation>Número de plazas de pie del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Potencias">
		<xs:annotation>
			<xs:documentation>Datos de las potencias del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Cilindrada" minOccurs="0"/>
				<xs:element ref="PotenciaFiscal" minOccurs="0"/>
				<xs:element ref="PotenciaNetaMaxima" minOccurs="0"/>
				<xs:element ref="RelacionPotenciaPeso" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cilindrada">
		<xs:annotation>
			<xs:documentation>Cilindrada del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PotenciaFiscal">
		<xs:annotation>
			<xs:documentation>Potencia fiscal del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PotenciaNetaMaxima">
		<xs:annotation>
			<xs:documentation>Potencia neta máxima del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RelacionPotenciaPeso">
		<xs:annotation>
			<xs:documentation>Relacion potencia peso del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosTramites">
		<xs:annotation>
			<xs:documentation>Datos de los trámites del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Baja" minOccurs="0"/>
				<xs:element ref="FechaTransferencia" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Baja">
		<xs:annotation>
			<xs:documentation>Datos de cada baja del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="FechaInicio" minOccurs="0"/>
				<xs:element ref="FechaFin" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaInicio">
		<xs:annotation>
			<xs:documentation>Fecha de inicio de la baja del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaFin">
		<xs:annotation>
			<xs:documentation>Fecha de fin de la baja del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaTransferencia">
		<xs:annotation>
			<xs:documentation>Fecha de la transferencia del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosAdministrativos">
		<xs:annotation>
			<xs:documentation>Datos administrativos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaImpagos" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaImpagos">
		<xs:annotation>
			<xs:documentation>Lista de impagos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Impago" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Impago">
		<xs:annotation>
			<xs:documentation>Datos de cada impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="AnioImpago" minOccurs="0"/>
				<xs:element ref="Documentacion" minOccurs="0"/>
				<xs:element ref="Provincia" minOccurs="0"/>
				<xs:element ref="Municipio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnioImpago">
		<xs:annotation>
			<xs:documentation>Año del impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:gYear">
				<xs:pattern value="\d{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:annotation>
			<xs:documentation>Documentación del impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="9"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Municipio">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Provincia">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
