scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDDGTCONDUCTORWS01v3/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:personaV50="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Retorno"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="DatosPersona" minOccurs="0">
					<xs:annotation>
						<xs:documentation>XML con los datos de la persona (XML decodificado devuelto por DGT)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaNacimiento" type="Fecha">
		<xs:annotation>
			<xs:documentation>Formato DD/MM/YYYY</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AnioNacimiento" type="Anio">
		<xs:annotation>
			<xs:documentation>Formato: AAAA</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DatosPersona" type="personaV50:persona">
		<xs:annotation>
			<xs:documentation>XML con los datos del vehículo (a la espera de schema de la DGT)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:annotation>
						<xs:documentation>Codigo de estado: 0 - Tramitado, 1 - Error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codigo devuelto por DGT en caso de error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:annotation>
						<xs:documentation>Descripcion del estado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Fecha">
		<xs:annotation>
			<xs:documentation>Formato: DD/MM/AAAA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="([0][1-9]|[1,2][0-9]|[3][0,1])/([0][1-9]|[1][0-2])/[1-2][0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Anio">
		<xs:annotation>
			<xs:documentation>Formato: AAAA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[1-2][0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  -->
	<!-- Schema persona.xsd en version V5.0 de la DGT -->
	<!--  -->
	<xs:complexType name="persona">
		<xs:all>
			<xs:element name="datosPersona" type="datosPersona" minOccurs="0"/>
			<xs:element name="datosGenerales" type="datosGenerales" minOccurs="0"/>
			<xs:element name="listaExamenes" type="datosExamenes" minOccurs="0"/>
			<xs:element name="listaTramites" type="tramites" minOccurs="0"/>
			<xs:element name="listaIncidencias" type="datosIncidencia" minOccurs="0"/>
			<xs:element name="listaSanciones" type="datosSancion" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datosPersona">
		<xs:all>
			<xs:element name="identificacionPFisica" type="personaFisica" minOccurs="0"/>
			<xs:element name="identificacionPJuridica" type="personaJuridica" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="personaFisica">
		<xs:all>
			<xs:element name="apellido1" type="xs:string" minOccurs="0"/>
			<xs:element name="apellido2" type="xs:string" minOccurs="0"/>
			<xs:element name="dirElectronicaVial" type="xs:string" minOccurs="0"/>
			<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="idDocumento" type="xs:string" minOccurs="0"/>
			<xs:element name="indicadorDevPF" type="xs:boolean" minOccurs="0"/>
			<xs:element name="nombre" type="xs:string" minOccurs="0"/>
			<xs:element name="sexo" type="xs:string" minOccurs="0"/>
			<xs:element name="tipoPersona" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="personaJuridica">
		<xs:all>
			<xs:element name="cif" type="xs:string" minOccurs="0"/>
			<xs:element name="indicadorDevPJ" type="xs:boolean" minOccurs="0"/>
			<xs:element name="razonSocial" type="xs:string" minOccurs="0"/>
			<xs:element name="tipoPersona" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datosGenerales">
		<xs:all>
			<xs:element name="domicilio" type="domicilio" minOccurs="0"/>
			<xs:element name="indicadores" type="indicador" minOccurs="0"/>
			<xs:element name="listaPermisosVigentes" type="permisos" nillable="true" minOccurs="0"/>
			<xs:element name="listaVehiculos" type="matriculas" nillable="true" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="domicilio">
		<xs:all>
			<xs:element name="calle" type="xs:string" minOccurs="0"/>
			<xs:element name="codPostal" type="xs:string" minOccurs="0"/>
			<xs:element name="municipio" type="xs:string" minOccurs="0"/>
			<xs:element name="provincia" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="pueblo" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tipoDescrito">
		<xs:all>
			<xs:element name="codigo" type="xs:string" minOccurs="0"/>
			<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="indicador">
		<xs:all>
			<xs:element name="autorizadoMercanciasPeligrosas" type="xs:boolean" minOccurs="0"/>
			<xs:element name="autorizadoTransporteEscolar" type="xs:boolean" minOccurs="0"/>
			<xs:element name="condicionRestrictiva" type="xs:boolean" minOccurs="0"/>
			<xs:element name="funcionAutoescuela" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="indicadorDev" type="xs:boolean"/>
			<xs:element name="lentes" type="xs:boolean" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="permisos">
		<xs:sequence>
			<xs:element name="permiso" type="permiso" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="permiso">
		<xs:all>
			<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="tipoPermiso" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="vigencia" type="xs:dateTime" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="matriculas">
		<xs:sequence>
			<xs:element name="matricula" type="matricula" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="matricula">
		<xs:all>
			<xs:element name="matricula" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datosExamenes">
		<xs:sequence>
			<xs:element name="datosExamen" type="datosExamen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datosExamen">
		<xs:sequence>
			<xs:element name="solicitudExamen" type="solicitudExamen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="solicitudExamen">
		<xs:sequence>
			<xs:element name="autoescuela" type="xs:string" minOccurs="0"/>
			<xs:element name="centroMedico" type="xs:string" minOccurs="0"/>
			<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="jefatura" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="resultados" type="resultadosExamenes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="situacion" type="xs:string" minOccurs="0"/>
			<xs:element name="sucursal" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="tipoPermiso" type="tipoDescrito" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultadosExamenes">
		<xs:sequence>
			<xs:element name="resultadoExamen" type="resultadoExamen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultadoExamen">
		<xs:all>
			<xs:element name="calificacion" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="tipoExamen" type="tipoDescrito" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tramites">
		<xs:sequence>
			<xs:element name="tramite" type="tramite" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tramite">
		<xs:all>
			<xs:element name="centroMedico" type="xs:string" minOccurs="0"/>
			<xs:element name="claseAfectacion" type="xs:string" minOccurs="0"/>
			<xs:element name="concesionObligada" type="xs:string" minOccurs="0"/>
			<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="jefatura" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="sucursal" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="tipoTramite" type="tipoTramite" minOccurs="0"/>
			<xs:element name="tipoPermiso" type="tipoDescrito" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datosIncidencia">
		<xs:sequence>
			<xs:element name="datosIncidencias" type="datosIncidencias" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datosIncidencias">
		<xs:all>
			<xs:element name="anotacion" type="xs:string" minOccurs="0"/>
			<xs:element name="documento" type="xs:string" minOccurs="0"/>
			<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="jefatura" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="sucursal" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="tipo" type="tipoDescrito" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datosSancion">
		<xs:sequence>
			<xs:element name="datosSanciones" type="datosSanciones" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datosSanciones">
		<xs:all>
			<xs:element name="anotacion" type="xs:string" minOccurs="0"/>
			<xs:element name="autoridadSancionadora" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="duracion" type="xs:int" minOccurs="0"/>
			<xs:element name="expediente" type="xs:string" minOccurs="0"/>
			<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="motivo" type="tipoDescrito" minOccurs="0"/>
			<xs:element name="tipoSancion" type="tipoDescrito" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tipoTramite">
		<xs:all>
			<xs:element name="codigo" type="xs:string" minOccurs="0"/>
			<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
			<xs:element name="tipo" type="enumTipoTramite"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="enumTipoTramite">
		<xs:annotation>
			<xs:documentation>DUPLICADO, EXPEDICION, PRORROGA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DUPLICADO"/>
			<xs:enumeration value="EXPEDICION"/>
			<xs:enumeration value="PRORROGA"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>