scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDSECOPA01WS01v3/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element ref="Solicitud"/>
			<xs:element ref="Retorno">
				<xs:annotation>
					<xs:documentation>Solo en el mensaje RESPUESTA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:all/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Estado"/>
				<xs:element ref="Domicilio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de estado o error.
Véase Tabla 1.- Códigos de Retorno del servicio de Verificación de Datos de Residencia   y Tabla 2 Códigos de error SCSP</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de error secundario para incorporar códigos de error internos de los sistemas. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LiteralError" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descripción de estado de la respuesta.
Véase Tabla 1.- Códigos de Retorno del servicio de Verificación de Datos de Residencia   y Tabla 2 Códigos de error SCSP</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Domicilio">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ProvinciaRespuesta" minOccurs="0"/>
				<xs:element ref="MunicipioRespuesta" minOccurs="0"/>
				<xs:element ref="EntColectiva" minOccurs="0"/>
				<xs:element ref="EntSingular" minOccurs="0"/>
				<xs:element ref="Nucleo" minOccurs="0"/>
				<xs:element ref="CodUnidadPoblacional" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código Unidad Poblacional del domicilio del ciudadano. Se compone de los siguientes campos: 
Código Entidad Colectiva (String 2) +
Código Entidad Singular (String 2) + 
Dígito de Control (String 1) +
Código Núcleo (String 2)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Direccion" minOccurs="0"/>
				<xs:element ref="UltimaVariacion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProvinciaRespuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la Provincia del domicilio del ciudadano. 
Este campo irá codificado con los códigos del INE (2 dígitos).
https://idapadron.ine.es/ape403expl/inicio.menu</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre de la Provincia del domicilio del ciudadano. </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Provincia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodUnidadPoblacional">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MunicipioRespuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del Municipio del domicilio del ciudadano. 
Este campo irá codificado con los códigos del INE (3dígitos).
https://idapadron.ine.es/ape403expl/inicio.menu</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre del Municipio del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Municipio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EntColectiva">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la Entidad Colectiva del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre de la Entidad Colectiva del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntSingular">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la Entidad Singular del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre de la Entidad Singular del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Nucleo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del Núcleo del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre del núcleo del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Direccion">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Via" minOccurs="0"/>
				<xs:element ref="Numero" minOccurs="0"/>
				<xs:element ref="NumeroSuperior" minOccurs="0"/>
				<xs:element ref="Kmt" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kilómetro del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Hmt" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Hectómetro del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Bloque" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Bloque del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Portal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Portal del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Escalera" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Escalera del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Planta" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Planta del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Puerta" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Puerta del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CodPostal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>CodPostal del domicilio del ciudadano</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Via">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la vía.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Tipo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo de la vía</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre de la vía.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Numero">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Calificador" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descripción </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Valor" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Número del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroSuperior">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Calificador" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descripción </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Valor" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Número del domicilio del ciudadano.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodPostal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UltimaVariacion">
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Descripcion" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Fecha" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Solicitud">
		<xs:annotation>
			<xs:documentation>Solo en el mensaje de PETICION</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Espanol">
					<xs:annotation>
						<xs:documentation>Indica si la persona de la que se verifican los datos es de nacionalidad española o no. 
Los valores posibles son:
- s
- n</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Residencia" minOccurs="0"/>
				<xs:element ref="Nacimiento" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Espanol">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="s"/>
				<xs:enumeration value="n"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nacimiento">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Fecha" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de Nacimiento del ciudadano. 
Formato: AAAAMMDD.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la Provincia en la que nació el ciudadano. Este campo irá codificado con los códigos del INE (2 dígitos). 
Si el ciudadano es extranjero, el código de Provincia será el 66.
https://idapadron.ine.es/ape403expl/inicio.menu</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del municipio en el que nació el ciudadano. 
Este campo irá codificado con los códigos del INE (3dígitos). Si el ciudadano es extranjero el Municipio irá codificado con el código INE de su  país de nacimiento.
https://idapadron.ine.es/ape403expl/inicio.menu</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fecha">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Residencia">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la Provincia en la que reside el ciudadano. 
Este campo irá codificado con los códigos del INE (2 dígitos).
https://idapadron.ine.es/ape403expl/inicio.menu</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del municipio de residencia  del ciudadano. 
Este campo irá codificado con los códigos del INE (3dígitos).
https://idapadron.ine.es/ape403expl/inicio.menu</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kmt">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Hmt">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Bloque">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Portal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Escalera">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Planta">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Puerta">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
