scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDSCDWS01v3/ComunicacionDomicilio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.map.es/scsp/wsdl"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://www.map.es/scsp/esquemas/V2/peticion"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.map.es/scsp/esquemas/V2/solicitudRespuesta"
	xmlns:s1="http://www.map.es/scsp/esquemas/V2/confirmacionPeticion"
	xmlns:s="http://www.map.es/scsp/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s3="http://www.map.es/scsp/esquemas/V2/respuesta">
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.map.es/scsp/wsdl"
			xmlns="http://www.map.es/scsp/wsdl">
			<xs:import namespace="http://www.map.es/scsp/esquemas/V2/peticion"
				schemaLocation="peticion.xsd" />
			<xs:import namespace="http://www.map.es/scsp/esquemas/V2/confirmacionPeticion"
				schemaLocation="confirmacion-peticion.xsd" />
			<xs:import namespace="http://www.map.es/scsp/esquemas/V2/solicitudRespuesta"
				schemaLocation="solicitud-respuesta.xsd" />
			<xs:import namespace="http://www.map.es/scsp/esquemas/V2/respuesta"
				schemaLocation="respuesta.xsd" />
		</xs:schema>
	</types>
	<message name="SolicitarSoapIn">
		<part name="parameters" element="s0:Peticion">
		</part>
	</message>
	<message name="SolicitarSoapOut">
		<part name="parameters" element="s1:ConfirmacionPeticion">
		</part>
	</message>
	<message name="Respuesta">
		<part name="parameters" element="s3:Respuesta">
		</part>
	</message>
	<message name="SolicitarRespuesta">
		<part name="parameters" element="s2:SolicitudRespuesta">
		</part>
	</message>
	<portType name="ComunicacionDomicilio">
		<operation name="solicitarCambioDomicilio">
			<documentation>Solicitud de Cambio de Domicilio</documentation>
			<input message="s:SolicitarSoapIn">
			</input>
			<output message="s:SolicitarSoapOut">
			</output>
		</operation>
		<operation name="solicitarRespuesta">
			<documentation>Solicitud de Cambio de Domicilio</documentation>
			<input message="s:SolicitarRespuesta">
			</input>
			<output message="s:Respuesta">
			</output>
		</operation>
	</portType>
	<binding name="ComunicacionDomicilio" type="s:ComunicacionDomicilio">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="solicitarCambioDomicilio">
			<soap:operation soapAction="cambdomi" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="solicitarRespuesta">
			<soap:operation soapAction="solResp" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ComunicacionDomicilio">
		<port name="ComunicacionDomicilio" binding="s:ComunicacionDomicilio">
			<soap:address
				location="https://intermediacion.redsara.es/scd/services/ComunicacionDomicilio" />
		</port>
	</service>
</definitions>
