scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDPVIAEWS01v3/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:tns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DatosEspecificos" type="tns:DatosEspecificos"/>
    <xs:complexType name="DatosEspecificos">
        <xs:all>
            <xs:element minOccurs="0" name="getEpigrafesWS" type="tns:getEpigrafesWS"/>
            <xs:element minOccurs="0" name="getEpigrafesWSResponse" type="tns:getEpigrafesWSResponse"/>
        </xs:all>
        <xs:attribute name="Id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="getEpigrafesWS">
        <xs:sequence>
            <xs:element name="pTerritorioCAV">
            	<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="20"/>
						<xs:enumeration value="48"/>
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEpigrafesWSResponse">
        <xs:sequence>
            <xs:element name="IdSolicitud" type="xs:string"/>
            <xs:element name="FechaEmisionCertificado" type="xs:string"/>
            <xs:element name="TerritorioCAV" type="xs:string"/>
            <xs:element name="Resultado" type="xs:string"/>
            <xs:element name="Descripcion" type="xs:string"/>
            <xs:element minOccurs="0" name="MotivosError" type="xs:string"/>
            <xs:element minOccurs="0" name="Actividades">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Actividad">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Epigrafe" type="xs:string"/>
                                    <xs:element name="FechaAltaActividad" type="xs:string"/>
                                    <xs:element name="DescripcionActividad" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>    
</xs:schema>	