scsp-schemas-xsd-main/scsp-schemas-xsd-SVDMATUNIVWS01v3/src/main/resources/jaxb/SVDMATUNIVWS01v3/peticion/datos-especificos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos">
   <xs:element name="DatosEspecificos">
      <xs:complexType>
         <xs:choice>
            <xs:element ref="Consulta"/>
            <xs:element ref="Retorno"/>
         </xs:choice>
         <xs:attribute name="Id" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Consulta">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="ListaIdentificadoresUniversidad"/>
            <xs:element name="CursoAcademico" type="CursoAcademicoTypeConstraint">
               <xs:annotation>
                  <xs:documentation>Curso académico para el que se consultan los datos</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IncluyeCursosAcademicosPrevios" type="xs:boolean">
               <xs:annotation>
                  <xs:documentation>Indica si se deben incluir en la respuesta datos de matrícula de los cursos académicos previos al curso que se consulta</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ListaIdentificadoresUniversidad">
      <xs:annotation>
         <xs:documentation>Si no se indican Universidades concretas, se consultan todas las Universidades</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="IdentificadorUniversidad"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="IdentificadorUniversidad" type="UniversidadTypeConstraint">
      <xs:annotation>
         <xs:documentation>Código RUCT de la Universidad a consultar</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Retorno">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Estado"/>
            <xs:element minOccurs="0" ref="ListaDatosMatricula"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Estado">
      <xs:complexType>
         <xs:all>
            <xs:element name="CodigoEstado">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:minLength value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="Literal">
               <xs:annotation>
                  <xs:documentation>Descripcion del estado</xs:documentation>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:maxLength value="255"/>
                     <xs:minLength value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:all>
      </xs:complexType>
   </xs:element>
   <xs:element name="ListaDatosMatricula">
      <xs:annotation>
         <xs:documentation>Datos de matrícula de las Universidades consultadas</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="DatosMatricula"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="CursoAcademicoTypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9][0-9][0-9][0-9]-[0-9][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ProvinciaTypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UniversidadTypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9][0-9][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodigoPostalTypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9][0-9][0-9][0-9][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MunicipioTypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9][0-9][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DNITypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8}[A-Z]{1}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LenguaTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="01">
            <xs:annotation>
               <xs:documentation xml:lang="en">Castellano</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="02">
            <xs:annotation>
               <xs:documentation xml:lang="en">Vasco</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="03">
            <xs:annotation>
               <xs:documentation xml:lang="en">Catalán</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="04">
            <xs:annotation>
               <xs:documentation xml:lang="en">Gallego</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="05">
            <xs:annotation>
               <xs:documentation xml:lang="en">Valenciano</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="06">
            <xs:annotation>
               <xs:documentation xml:lang="en">Balear</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NIETypeConstraint">
      <xs:restriction base="xs:string">
         <xs:pattern value="[X-Z]{1}[0-9]{7}[A-Z]{1}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DedicacionTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="TiempoCompleto"/>
         <xs:enumeration value="TiempoParcial"/>
         <xs:enumeration value="Otra"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MECESTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="2"/>
         <xs:enumeration value="3"/>
         <xs:enumeration value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NaturalezaTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Publica"/>
         <xs:enumeration value="Privada"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VinculacionTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Propio"/>
         <xs:enumeration value="Adscrito"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RamaTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ArtesHumanidades"/>
         <xs:enumeration value="Ciencias"/>
         <xs:enumeration value="CienciasSalud"/>
         <xs:enumeration value="CienciasSocialesJuridicas"/>
         <xs:enumeration value="IngenieriaArquitectura"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SexoTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Mujer">
            <xs:annotation>
               <xs:documentation xml:lang="en">Mujer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Hombre">
            <xs:annotation>
               <xs:documentation xml:lang="en">Hombre</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="ApellidoType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="Apellido" type="xs:normalizedString"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="TipoDocumentacionType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="DNI"/>
         <xs:enumeration value="NIE"/>
         <xs:enumeration value="Pasaporte"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="DatosMatriculaType">
      <xs:sequence>
         <xs:element name="Universidad" type="UniversidadType"/>
         <xs:element name="Titular" type="TitularType"/>
         <xs:element maxOccurs="unbounded" name="Titulacion" type="TitulacionType">
            <xs:unique name="DetalleMatriculaCursoAcademicoUQ">
               <xs:selector xpath="DetalleMatricula"/>
               <xs:field xpath="CursoAcademico"/>
            </xs:unique>
         </xs:element>
         <xs:element name="LenguaRUCT" type="LenguaTypeEnum"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TitularType">
      <xs:sequence>
         <xs:element name="Apellidos" type="ApellidoType"/>
         <xs:element name="Nombre" type="xs:normalizedString"/>
         <xs:element name="TipoDocumentacion" type="TipoDocumentacionType"/>
         <xs:element name="Documentacion" type="xs:string"/>
         <xs:element minOccurs="0" name="Sexo" type="SexoType"/>
         <xs:element minOccurs="0" name="FechaNacimiento" type="xs:date"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SexoType">
      <xs:choice>
         <xs:element minOccurs="0" name="Descripcion" type="xs:normalizedString"/>
         <xs:element name="Codigo" type="SexoTypeEnum"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="TitulacionType">
      <xs:sequence>
         <xs:element name="Nombre" type="xs:normalizedString"/>
         <xs:element minOccurs="0" name="ItinerarioCurricular" type="xs:boolean"/>
         <xs:element maxOccurs="unbounded" name="TituloConferido" type="TituloConferidoType"/>
         <xs:element name="Centro" type="CentroType"/>
         <xs:element maxOccurs="unbounded" name="DetalleMatricula" type="DetalleMatriculaType"/>
         <xs:element name="Codigo" type="xs:normalizedString"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DetalleMatriculaType">
      <xs:sequence>
         <xs:element name="CursoAcademico" type="CursoAcademicoTypeConstraint"/>
         <xs:element name="Fecha" type="xs:date"/>
         <xs:element name="Dedicacion" type="DedicacionType"/>
         <xs:element minOccurs="0" name="ResumenCreditos" type="ResumenCreditosType"/>
         <xs:element minOccurs="0" name="ResumenEconomico" type="ResumenEconomicoType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CentroType">
      <xs:sequence>
         <xs:element name="Nombre" type="xs:normalizedString"/>
         <xs:element name="Vinculacion" type="VinculacionType"/>
         <xs:element name="Ubicacion" type="UbicacionType"/>
         <xs:element name="CodigoRUCT" type="xs:normalizedString"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UniversidadType">
      <xs:sequence>
         <xs:element name="Nombre" type="xs:normalizedString"/>
         <xs:element name="Naturaleza" type="NaturalezaType"/>
         <xs:element name="CodigoRUCT" type="UniversidadTypeConstraint"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VinculacionType">
      <xs:choice>
         <xs:element minOccurs="0" name="Descripcion" type="xs:normalizedString"/>
         <xs:element name="Codigo" type="VinculacionTypeEnum"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="NaturalezaType">
      <xs:choice>
         <xs:element minOccurs="0" name="Descripcion" type="xs:normalizedString"/>
         <xs:element name="Codigo" type="NaturalezaTypeEnum"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="TituloConferidoType">
      <xs:sequence>
         <xs:element name="Nombre" type="xs:normalizedString"/>
         <xs:element minOccurs="0" name="MECES" type="MECESType"/>
         <xs:element minOccurs="0" name="Rama" type="RamaType"/>
         <xs:element name="CodigoRUCT" type="xs:normalizedString"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MECESType">
      <xs:choice>
         <xs:element minOccurs="0" name="Descripcion" type="xs:normalizedString"/>
         <xs:element name="Codigo" type="MECESTypeEnum"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="RamaType">
      <xs:choice>
         <xs:element minOccurs="0" name="Descripcion" type="xs:normalizedString"/>
         <xs:element name="Codigo" type="RamaTypeEnum"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="ResumenCreditosType">
      <xs:sequence>
         <xs:element name="Matriculados" type="PositiveDecimalType"/>
         <xs:element minOccurs="0" name="Reconocidos" type="PositiveDecimalType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DedicacionType">
      <xs:choice>
         <xs:element minOccurs="0" name="Descripcion" type="xs:normalizedString"/>
         <xs:element name="Codigo" type="DedicacionTypeEnum"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="UbicacionType">
      <xs:sequence>
         <xs:element name="Provincia" type="ProvinciaTypeConstraint"/>
         <xs:element name="Municipio" type="MunicipioTypeConstraint"/>
         <xs:element minOccurs="0" name="Localidad" type="xs:normalizedString"/>
         <xs:element minOccurs="0" name="CodigoPostal" type="CodigoPostalTypeConstraint"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Direccion" type="xs:normalizedString"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResumenEconomicoType">
      <xs:sequence>
         <xs:element name="Total" type="PositiveDecimalType"/>
         <xs:element name="Abonado" type="PositiveDecimalType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PositiveDecimalType">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="DatosMatricula" type="DatosMatriculaType"/>
</xs:schema>