scsp-schemas-xsd/src/main/resources/jaxb/schemas/SCPWIJ1Rv2/peticion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cp="http://www.map.es/scsp/esquemas/V2/peticion" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.map.es/scsp/esquemas/V2/peticion" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Peticion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Atributos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IdPeticion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumElementos">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="7"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TimeStamp">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="29"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Estado" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CodigoEstado" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CodigoEstadoSecundario" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="16"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LiteralError" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TiempoEstimadoRespuesta" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CodigoCertificado">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="64"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Solicitudes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SolicitudTransmision">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DatosGenericos">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Emisor">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NifEmisor">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NombreEmisor">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Solicitante">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="IdentificadorSolicitante">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NombreSolicitante">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Finalidad">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="250"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Consentimiento">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Funcionario" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="NombreCompletoFuncionario" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:minLength value="0"/>
																						<xs:maxLength value="122"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="NifFuncionario" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:minLength value="0"/>
																						<xs:maxLength value="10"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Titular">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TipoDocumentacion">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="17"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Documentacion">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="14"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NombreCompleto" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="122"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Nombre" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Apellido1" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Apellido2" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Transmision">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CodigoCertificado">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="64"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="IdSolicitud">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="IdTransmision" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="26"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FechaGeneracion" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="29"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
