scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDIVTMWS01v3/INTERIOR.ConsultaBeneficiarioTerrorismoManual.Asincrona.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://intermediacion.redsara.es/scsp/wsdl" xmlns:pet="http://intermediacion.redsara.es/scsp/esquemas/V3/peticion" xmlns:resp="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" xmlns:solr="http://intermediacion.redsara.es/scsp/esquemas/V3/solicitudRespuesta" xmlns:conPet="http://intermediacion.redsara.es/scsp/esquemas/V3/confirmacionPeticion" xmlns:sf="http://intermediacion.redsara.es/scsp/esquemas/V3/soapfaultatributos" xmlns:desp="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://intermediacion.redsara.es/scsp/wsdl">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" schemaLocation="datos-especificos.xsd"/>
			<xsd:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/peticion" schemaLocation="peticion.xsd"/>
			<xsd:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" schemaLocation="respuesta.xsd"/>
			<xsd:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/solicitudRespuesta" schemaLocation="solicitud-respuesta.xsd"/>
			<xsd:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/confirmacionPeticion" schemaLocation="confirmacion-peticion.xsd"/>
			<xsd:import namespace="http://intermediacion.redsara.es/scsp/esquemas/V3/soapfaultatributos" schemaLocation="soapfaultatributos.xsd"/>
		</xsd:schema>
	</types>
	<message name="peticionMessage">
		<part name="Peticion" element="pet:Peticion"/>
	</message>
	<message name="respuestaMessage">
		<part name="Respuesta" element="resp:Respuesta"/>
	</message>
	<message name="solicitudRespuestaMessage">
		<part name="SolicitudRespuesta" element="solr:SolicitudRespuesta"/>
	</message>
	<message name="confirmacionPeticionMessage">
		<part name="ConfirmacionPeticion" element="conPet:ConfirmacionPeticion"/>
	</message>
	<message name="faultSCSPMessage">
		<part name="fault" element="sf:Atributos"/>
	</message>
	<portType name="INTERIORConsultaBeneficiarioTerrorismoManualAsincronaPort">
		<operation name="peticionAsincrona">
			<input message="wsdl:peticionMessage"/>
			<output message="wsdl:confirmacionPeticionMessage"/>
			<fault name="FaultSCSP" message="wsdl:faultSCSPMessage"/>
		</operation>
		<operation name="solicitudRespuesta">
			<input message="wsdl:solicitudRespuestaMessage"/>
			<output message="wsdl:respuestaMessage"/>
			<fault name="FaultSCSP" message="wsdl:faultSCSPMessage"/>
		</operation>
	</portType>
	<binding name="INTERIORConsultaBeneficiarioTerrorismoManualAsincronaBinding" type="wsdl:INTERIORConsultaBeneficiarioTerrorismoManualAsincronaPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="peticionAsincrona">
			<soap:operation soapAction="peticionAsincrona" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultSCSP">
				<soap:fault name="FaultSCSP" use="literal"/>
			</fault>
		</operation>
		<operation name="solicitudRespuesta">
			<soap:operation soapAction="solicitudRespuesta" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultSCSP">
				<soap:fault name="FaultSCSP" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="INTERIOR.ConsultaBeneficiarioTerrorismoManual.Asincrona">
		<port name="INTERIOR.ConsultaBeneficiarioTerrorismoManual.Asincrona" binding="wsdl:INTERIORConsultaBeneficiarioTerrorismoManualAsincronaBinding">
			<soap:address location="https://intermediacion.redsara.es/servicios/SVD/INTERIOR.ConsultaBeneficiarioTerrorismoManual.Asincrona"/>
		</port>
	</service>
</definitions>
