scsp-schemas-xsd/src/main/resources/jaxb/schemas/DOMFISCv3/respuesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" schemaLocation="datos-especificos.xsd"/>
	<xs:element name="Respuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Atributos">
					<xs:complexType>
						<xs:all>
							<xs:element name="IdPeticion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="26"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumElementos">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="9999999"/>
										<xs:totalDigits value="7"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TimeStamp">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="29"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Estado" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="CodigoEstado" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CodigoEstadoSecundario" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LiteralError" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TiempoEstimadoRespuesta" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="9999"/>
													<xs:totalDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="CodigoCertificado">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="64"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="Transmisiones" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransmisionDatos" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="DatosGenericos">
											<xs:complexType>
												<xs:all>
													<xs:element name="Emisor">
														<xs:complexType>
															<xs:all>
																<xs:element name="NifEmisor">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NombreEmisor">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="Solicitante">
														<xs:complexType>
															<xs:all>
																<xs:element name="IdentificadorSolicitante">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NombreSolicitante">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UnidadTramitadora" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="250"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Procedimiento" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CodProcedimiento" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:minLength value="1"/>
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="NombreProcedimiento" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Finalidad">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="250"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Consentimiento">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																			<xs:enumeration value="Si"/>
																			<xs:enumeration value="Ley"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Funcionario">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="NombreCompletoFuncionario">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="122"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="NifFuncionario">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="10"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="IdExpediente" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="Titular">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TipoDocumentacion">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="17"/>
																			<xs:enumeration value="CIF"/>
																			<xs:enumeration value="NIF"/>
																			<xs:enumeration value="DNI"/>
																			<xs:enumeration value="Pasaporte"/>
																			<xs:enumeration value="NIE"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Documentacion">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="14"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NombreCompleto" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="122"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Nombre" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Apellido1" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Apellido2" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Transmision">
														<xs:complexType>
															<xs:all>
																<xs:element name="CodigoCertificado">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="64"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="IdSolicitud">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="IdTransmision">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="29"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FechaGeneracion">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="29"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element ref="ns2:DatosEspecificos"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
