scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDNOTLISTWS01v3/datos-especificos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="comun.xsd"/>
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element name="Consulta" type="CONSULTA_NOTARIO_NOTARIAType">
				<xs:annotation>
					<xs:documentation>Bloque que contiene información sobre la consulta de la petición.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Retorno">
				<xs:annotation>
					<xs:documentation>Bloque que contiene información sobre los datos de la respuesta.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="Estado">
							<xs:annotation>
								<xs:documentation>Bloque que contiene información sobre el estado del retorno del servicio.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:all>
									<xs:element name="CodigoEstado">
										<xs:annotation>
											<xs:documentation>Código de retorno del servicio, es representado mediante un valor númerico.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodigoEstadoSecundario" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código numérico que identifica con más detalle el retorno del servicio.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="16"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LiteralError">
										<xs:annotation>
											<xs:documentation>Descripcion de la respuesta.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
						<xs:element name="Resultados">
							<xs:annotation>
								<xs:documentation>Bloque que contiene todos los elementos sobre Notarios y Notarías encontrados.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NOTARIO_NOTARIA" type="RESPUESTA_NOTARIO_NOTARIAType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Elemento que contiene información sobre el Notario y la Notaría asociada.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CONSULTA_NOTARIO_NOTARIAType">
		<xs:all>
			<xs:element name="FECHA_ACTO" type="FECHAType">
				<xs:annotation>
					<xs:documentation>Fecha aproximada de consulta en la que el Notario consultado ejerció sus funciones. Formato fecha: AAAA-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOTARIA" type="CONSULTA_NOTARIAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bloque que contiene los datos de la notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOTARIO" type="CONSULTA_NOTARIOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bloque que contiene los datos del Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESPUESTA_NOTARIO_NOTARIAType">
		<xs:all>
			<xs:element name="NOTARIO" type="RESPUESTA_NOTARIOType">
				<xs:annotation>
					<xs:documentation>Bloque que contiene los datos del Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_INICIO" type="FECHAType">
				<xs:annotation>
					<xs:documentation>Fecha de inicio en la que el Notario empezó a ejercer sus funciones en la Notaría especificada. Formato fecha: AAAA-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_FIN" type="FECHAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Última fecha en la que el Notario ejerció sus funciones en la Notaría especificada. Formato fecha: AAAA-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOTARIA" type="RESPUESTA_NOTARIAType">
				<xs:annotation>
					<xs:documentation>Bloque que contiene los datos de la Notaría correspondiente al Notario</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESPUESTA_NOTARIOType">
		<xs:all>
			<xs:element name="COD_NOTARIO" type="CODIGO_NOTARIOType">
				<xs:annotation>
					<xs:documentation>Código numérico que identifica al Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NIF" type="NIFType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documentación del Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOMBRE" type="NOMBREType">
				<xs:annotation>
					<xs:documentation>Nombre del Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APELLIDOS" type="APELLIDOSType">
				<xs:annotation>
					<xs:documentation>Apellidos del Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CONSULTA_NOTARIOType">
		<xs:all>
			<xs:element name="COD_NOTARIO" type="CODIGO_NOTARIOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código numérico que identifica al Notario.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CONSULTA_NOTARIAType">
		<xs:all>
			<xs:element name="COD_NOTARIA" type="CODIGO_NOTARIAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código de catastro de la Notaria.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PLAZA" type="PLAZAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descripción literal de la unidad poblacional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DIRECCION" type="DIRECCIONType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dirección donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COD_INE_PROV" type="CODIGO_INE_PROVINCIAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código númerico (según el INE) que identifica la provincia donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COD_INE_MUN" type="CODIGO_INE_MUNICIPIOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código numérico (según el INE) que identifica el municipio donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CODIGO_POSTAL" type="CODIGO_POSTALType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código numérico que identifica el código postal donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RESPUESTA_NOTARIAType">
		<xs:all>
			<xs:element name="COD_NOTARIA" type="CODIGO_NOTARIAType">
				<xs:annotation>
					<xs:documentation>Código de catastro de la Notaria.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PLAZA" type="PLAZAType">
				<xs:annotation>
					<xs:documentation>Descripción literal de la unidad poblacional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DIRECCION" type="DIRECCIONType">
				<xs:annotation>
					<xs:documentation>Dirección donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROV" type="PROVType">
				<xs:annotation>
					<xs:documentation>Nombre que identifica la provincia donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COD_INE_PROV" type="CODIGO_INE_PROVINCIAType">
				<xs:annotation>
					<xs:documentation>Código númerico (según el INE) que identifica la provincia donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MUN" type="MUNType">
				<xs:annotation>
					<xs:documentation>Nombre que identifica el municipio donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COD_INE_MUN" type="CODIGO_INE_MUNICIPIOType">
				<xs:annotation>
					<xs:documentation>Código numérico (según el INE) que identifica el municipio donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CODIGO_POSTAL" type="CODIGO_POSTALType">
				<xs:annotation>
					<xs:documentation>Código numérico que identifica el código postal donde se encuentra la Notaría.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TLF_1" type="TELEFONOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número de teléfono principal para contactar con la Notaría, acepta limitadores y extensión.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TLF_2" type="TELEFONOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número de teléfono principal para contactar con la Notaría, acepta limitadores y extensión.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FAX" type="FAXType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número de fax, acepta limitadores y extensión</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
