scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDDGPCIWS02v3/datos-especificos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element ref="Consulta" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Solo en el mensaje PETICION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Retorno">
				<xs:annotation>
					<xs:documentation>Solo en el mensaje RESPUESTA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NumeroSoporte" minOccurs="0">
					<xs:annotation>
						<xs:documentation>- Ciudadano español: Es el campo Ides del DNIe. Su codificación es 3 caracteres alfanuméricos + 6 dígitos (i.e. AAA123456)
- Ciudadano extranjero comunitario: Su codificación es ‘C’+ 8 dígitos correspondiendo este número de soporte con el Certificado Comunitario
- Ciudadano extranjero: Su codificación es ‘E’+ 8 dígitos (estos 8 dígitos coinciden con el número de tarjeta de identificación de extranjero). 
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AnioNacimiento" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Año de Nacimiento del Titular. Formato YYYY. Debe ser mayor a 1900</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Estado"/>
				<xs:element ref="DatosTitular" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Estado">
		<xs:annotation>
			<xs:documentation>Estado de Respuesta</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado"/>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
				<xs:element ref="LiteralError"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosTitular">
		<xs:annotation>
			<xs:documentation>Datos de Respuesta</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="NumeroSoporte" minOccurs="0">
					<xs:annotation>
						<xs:documentation>- Caso ciudadano español: Es el campo Ides del DNIe. Su codificación es 3 caracteres alfanuméricos + 6 dígitos (i.e. AAA123456)
- Ciudadano extranjero comunitario: Su codificación es ‘C’+ 8 dígitos correspondiendo este número de soporte con el Certificado Comunitario
- Caso ciudadano extranjero: Su codificación es ‘E’+ 8 dígitos (estos 8 dígitos coinciden con el número de tarjeta de extranjería). </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Nombre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre del ciudadano para el que se realiza la consulta.

En la respuesta este campo corresponde con los datos devueltos por el servicio de DGP. En el caso en que el nombre tenga más de 40 caracteres, el nombre en la respuesta estará truncado a 40 caracteres.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Apellido1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Primer Apellido del ciudadano para el que se realiza la consulta.

En la respuesta este campo corresponde con los datos devueltos por el servicio de DGP. En el caso en que el primer apellido tenga más de 40 caracteres, el primer apellido en la respuesta estará truncado a 40 caracteres.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Apellido2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Segundo Apellido del ciudadano para el que se realiza la consulta.

En la respuesta este campo corresponde con los datos devueltos por el servicio de DGP. En el caso en que el segundo apellido devuelto por DGP tenga más de 40 caracteres, el segundo apellido en la respuesta estará truncado a 40 caracteres.

Si el ciudadano no tiene segundo apellido, este campo no aparecerá en la respuesta.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Nacionalidad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nacionalidad del ciudadano para el que se realiza la consulta.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sexo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sexo del ciudadano para el que se realiza la consulta. 
- M
- F
- I</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DatosNacimiento" minOccurs="0"/>
				<xs:element ref="NombrePadre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre del padre del ciudadano consultado.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="NombreMadre" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre de la madre del ciudadano consultado.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaCaducidad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que expira el documento de identificación del ciudadano consultado.

En el caso de consultar por un NIE la FechaCaducidad se devolverá vacia puesto que los NIEs no caducan. Para obtener la FechaCaducidad se debe rellenar en el campo NumeroSoporte el TIE.
</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaCaducidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:minLength value="8"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nacionalidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="22"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreMadre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombrePadre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellido1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellido2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Fecha">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:minLength value="8"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AnioNacimiento">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minExclusive value="1900"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosNacimiento">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Fecha" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de Nacimiento del ciudadano consultado. Cuando se desconocen el día y el mes de nacimiento de un ciudadano extranjero, el mes vendrá informado como 99 y el mes igualmente como 99 </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Localidad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Localidad de Nacimiento del ciudadano consultado. Si la localidad tiene mas de 60 caracteres, esta vendrá truncada a 60.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia de Nacimiento del ciudadano consultado.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroSoporte">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
				<xs:minLength value="9"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sexo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="M"/>
				<xs:enumeration value="F"/>
				<xs:enumeration value="I"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Provincia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Pais">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Localidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
