scsp-schemas-xsd/src/main/resources/jaxb/schemas/S2800665HFTF0002v3/datos-especificos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Definición de tipos complejos-->
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element name="DatosEntrada" type="DatosEntrada">
				<xs:annotation>
					<xs:documentation>Sólo en el mensaje de PETICION.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatosSalida" type="DatosSalida">
				<xs:annotation>
					<xs:documentation>Sólo en el mensaje de RESPUESTA.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DatosEntrada">
		<xs:annotation>
			<xs:documentation>Bloque de campos que
representan los datos
introducidos por el usuario en la petición. Sólo en el mensaje de PETICION.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="NumProducto"/>
			<xs:element ref="CodResolucionJudFis" minOccurs="0"/>
			<xs:element ref="NombreResolucionJudFis" minOccurs="0"/>
			<xs:element ref="IdResolucionJudFis" minOccurs="0"/>
			<xs:element ref="IdUsuarioSolicitante"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosSalida">
		<xs:sequence>
			<xs:element ref="EstadoRpta"/>
			<xs:element name="DatosBusqueda" type="DatosBusqueda">
				<xs:annotation>
					<xs:documentation>Bloque que contendrá el número de producto por el que se ha buscado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListaProductos" type="ListaProductos" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lista de todos aquelos productos que cumplen con la numeración buscada.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstadoRpta">
		<xs:annotation>
			<xs:documentation>Bloque que contendrá el estado de la respuesta.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Codigo"/>
			<xs:element ref="Descripcion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosBusqueda">
		<xs:annotation>
			<xs:documentation>Bloque que contendrá los campos que el usuario ha informado para realizar la búsqueda por producto.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="NumProducto"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetalleProducto">
		<xs:annotation>
			<xs:documentation>Bloque que contendrá la información de detalle del producto financiero en cuestión.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="NombreEntidad"/>
			<xs:element ref="NifEntidad"/>
			<xs:element ref="NumProducto"/>
			<xs:element ref="TipoProducto"/>
			<xs:element ref="FechaApertura"/>
			<xs:element ref="FechaCancelacion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaNumeracion">
		<xs:annotation>
			<xs:documentation>Bloque que contendrá todas las posibles numeraciones del producto buscado. Ordenadas de las más reciente a la más antigua.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Numeracion" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="NumProducto"/>
						<xs:element ref="VigenciaNumeracion"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaIntervinientes">
		<xs:annotation>
			<xs:documentation>Bloque que contendrá todos los intervinientes en el producto buscado.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Interviniente" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="TipoInterv"/>
						<xs:element ref="FechaDesde"/>
						<xs:element ref="FechaHasta"/>
						<xs:element ref="TipoDocId"/>
						<xs:element ref="NumDocId"/>
						<xs:element ref="PaisExpDocId" minOccurs="0"/>
						<xs:element ref="NombreCompletoRS"/>
						<xs:element ref="FechaNacConst" minOccurs="0"/>
						<xs:element ref="PaisNacionalidad" minOccurs="0"/>
						<xs:element ref="PaisResidencia"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaProductos">
		<xs:annotation>
			<xs:documentation>Bloque que contiene toda la información del producto buscado.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Producto" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DetalleProducto" type="DetalleProducto">
							<xs:annotation>
								<xs:documentation>Información de detalle del producto buscado.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ListaNumeracion" type="ListaNumeracion">
							<xs:annotation>
								<xs:documentation>Lista con todas las posibles numeraciones que el producto tiene: históricas y vigentes. Ordenadas de la más reciente a la más antigua.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ListaIntervinientes" type="ListaIntervinientes">
							<xs:annotation>
								<xs:documentation>Lista con todos los intervinientes vinculados con el producto en cuestión. Ordenar primero los vigentes por fecha desde y seguido los no vigentes por fecha hasta.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Definición de elementos.-->
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:element name="Codigo">
		<xs:annotation>
			<xs:documentation>Código de estado de respuesta de negocio.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Descripcion">
		<xs:annotation>
			<xs:documentation> Descripción de estado de respuesta de negocio.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumProducto">
		<xs:annotation>
			<xs:documentation>Número del producto financiero sobre el que se realiza la consulta.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="38"/>
				<xs:minLength value="9"/>
				<xs:pattern value="[a-zA-Z0-9]*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreEntidad">
		<xs:annotation>
			<xs:documentation>Nombre de la entidad vinculada con el producto financiero.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="162"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifEntidad">
		<xs:annotation>
			<xs:documentation>NIF de la entidad vinculada con el producto financiero.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoProducto">
		<xs:annotation>
			<xs:documentation>Tipo de producto financiero: Cuenta corriente, Cuenta de ahorro, Cuenta de valores o Depósitos a plazo.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="Cuenta corriente"/>
				<xs:enumeration value="Cuenta de ahorro"/>
				<xs:enumeration value="Cuenta de valores"/>
				<xs:enumeration value="Depósito a plazo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaApertura">
		<xs:annotation>
			<xs:documentation>Fecha de apertura del producto financiero. Ej: 06/01/2011.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaCancelacion">
		<xs:annotation>
			<xs:documentation>Fecha de cancelacion del producto financiero. Ej: 15/12/2014.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VigenciaNumeracion">
		<xs:annotation>
			<xs:documentation>Indica si la numeración del producto es la vigente o no. En caso afirmativo contendrá el valor: VIG. En caso negativo contendrá el valor HIS.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
				<xs:enumeration value="VIG"/>
				<xs:enumeration value="HIS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoInterv">
		<xs:annotation>
			<xs:documentation>Tipo de intervención en el producto en cuestión. Sus posibles valores son: Titular, Titular Real, Autorizado, Representante, Otro.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:enumeration value="Titular"/>
				<xs:enumeration value="Titular Real"/>
				<xs:enumeration value="Autorizado"/>
				<xs:enumeration value="Representante"/>
				<xs:enumeration value="Otro"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaDesde">
		<xs:annotation>
			<xs:documentation>Fecha desde la cual el interviniente se encuentra vinculado con el producto. Ej: 14/02/1984.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaHasta">
		<xs:annotation>
			<xs:documentation>Fecha hasta la cual el interviniente se encuentra vinculado con el producto. Ej: 05/03/2001.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoDocId">
		<xs:annotation>
			<xs:documentation>Tipo de documento identificativo del interviniente. Los posibles valores son: NIF, PAS u OTR.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
				<xs:enumeration value="NIF"/>
				<xs:enumeration value="PAS"/>
				<xs:enumeration value="OTR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumDocId">
		<xs:annotation>
			<xs:documentation>Número del documento identificativo del interviniente.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PaisExpDocId">
		<xs:annotation>
			<xs:documentation>País de expedición del documento identificativo del interviniente.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompletoRS">
		<xs:annotation>
			<xs:documentation>Nombre completo o razón social del interviniente.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="178"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaNacConst">
		<xs:annotation>
			<xs:documentation>Fecha de nacimiento o de constitución. Ej: 11/04/1974.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PaisNacionalidad">
		<xs:annotation>
			<xs:documentation>País de nacionalidad del interviniente. Ej: Turquía.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PaisResidencia">
		<xs:annotation>
			<xs:documentation>País de residencia del interviniente. Ej: España.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EstadoRpta" type="EstadoRpta">
		<xs:annotation>
			<xs:documentation>Estado de la respuesta de negocio.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CodResolucionJudFis">
		<xs:annotation>
			<xs:documentation>Código de resolución judicial o fiscal que autoriza al usuario a realizar la consulta.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreResolucionJudFis">
		<xs:annotation>
			<xs:documentation>Nombre de la resolución judicial o fiscal que autoriza al usuario a realizar la consulta.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdResolucionJudFis">
		<xs:annotation>
			<xs:documentation>Identificador de la resolución judicial o fiscal que autoriza al usuario a realizar la consulta.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdUsuarioSolicitante">
		<xs:annotation>
			<xs:documentation>Código único y personal del usuario del organismo que ha solicitado la consulta.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
