scsp-schemas-xsd/src/main/resources/jaxb/schemas/AEATRDT1v3/datos-especificos-salida.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:sequence>
			<xs:element name="Cabecera">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CodRet">
							<xs:simpleType>
								<xs:restriction base="xs:long">
									<xs:totalDigits value="4"/>
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="9999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DescripcionError">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
									<xs:minLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Referencia">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="11"/>
									<xs:minLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FechaEmision">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
									<xs:minLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TipoRespuesta" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2"/>
									<xs:minLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rendimientos">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Ejercicio">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4"/>
									<xs:minLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TotalRdtos" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4"/>
									<xs:minLength value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Rendimiento" minOccurs="0" maxOccurs="100">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NifRetenedor">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NombreRetenedor">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EjercicioDevengo">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Clave">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="1"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DescripcionClave">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Subclave" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DescripcionSubclave" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Retribucion" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Signo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Enteros">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="11"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99999999999"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Decimales" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="2"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Retencion" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Signo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Enteros">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="11"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99999999999"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Decimales" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="2"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Valoracion" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Signo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Enteros">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="11"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99999999999"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Decimales" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="2"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="IngresosACuenta" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Signo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Enteros">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="11"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99999999999"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Decimales" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="2"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="IngresosACuentaReperc" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Signo" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Enteros">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="11"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99999999999"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Decimales" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:long">
															<xs:totalDigits value="2"/>
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ReferenciaRdto">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="11"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>
