xsd-schemas/src/main/resources/schemas/SVDDGTVEHICULOWS01v3/datos-especificos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos"
           xmlns:vehiculoV50="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos">
   <xs:element name="DatosEspecificos">
      <xs:complexType>
         <xs:choice>
            <xs:element ref="Consulta">
               <xs:annotation>
                  <xs:documentation>Datos de consulta para servicio ConsultaDatosVehiculo</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="Retorno"/>
         </xs:choice>
         <xs:attribute name="Id" type="xs:string" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Consulta">
      <xs:complexType>
         <xs:annotation>
            <xs:documentation>Datos de consulta para servicio ConsultarDatosVehiculo</xs:documentation>
         </xs:annotation>
         <xs:choice>
            <xs:element ref="Matricula"/>
            <xs:element ref="Bastidor"/>
            <xs:element ref="NIVE"/>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="Retorno">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Estado"/>
            <xs:element ref="Consulta">
               <xs:annotation>
                  <xs:documentation>Datos de la consulta</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="DatosVehiculo">
               <xs:annotation>
                  <xs:documentation>XML con los datos del vehiculo (XML decodificado devuelto por DGT)</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Matricula">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="9"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Bastidor">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="17"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="NIVE">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="DatosVehiculo" type="vehiculo">
      <xs:annotation>
         <xs:documentation>XML con los datos del vehiculo (a la espera de schema de la DGT)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Estado">
      <xs:complexType>
         <xs:all>
            <xs:element name="CodigoEstado">
               <xs:annotation>
                  <xs:documentation>Codigo de estado: 0 - Tramitado, 1 - Error</xs:documentation>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="0"/>
                     <xs:enumeration value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CodigoEstadoSecundario">
               <xs:annotation>
                  <xs:documentation>Codigo devuelto por DGT en caso de error</xs:documentation>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:maxLength value="255"/>
                     <xs:minLength value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="Literal">
               <xs:annotation>
                  <xs:documentation>Descripcion del estado</xs:documentation>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:maxLength value="255"/>
                     <xs:minLength value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:all>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="vehiculo">
      <xs:all>
         <xs:element minOccurs="0" name="datosGenerales" type="datosGenerales"/>
         <xs:element minOccurs="0" name="datosTecnicos" type="datosTecnicos"/>
         <xs:element minOccurs="0" name="datosResponsables" type="datosResponsables"/>
         <xs:element minOccurs="0" name="datosTramites" type="datosTramites"/>
         <xs:element minOccurs="0" name="datosAdministrativos" type="datosAdministrativos"/>
         <xs:element minOccurs="0" name="datosITVReformas" type="datosITVReformas"/>
         <xs:element minOccurs="0" name="datosSeguros" type="datosSeguros"/>
         <xs:element minOccurs="0" name="listaVehiculos" nillable="true" type="resumenVehiculo"/>
         <xs:element minOccurs="0" name="datosSeguridad" type="datosSeguridad"/>
         <xs:element minOccurs="0" name="datosLibroTaller" type="datosLibroTaller"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosGenerales">
      <xs:all>
         <xs:element minOccurs="0" name="descripcionVehiculo" type="detalleVehiculo"/>
         <xs:element minOccurs="0" name="domicilioVehiculo" type="domicilio"/>
         <xs:element minOccurs="0" name="fechasControl" type="fechasVehiculo"/>
         <xs:element minOccurs="0" name="indicadores" type="indicadores"/>
         <xs:element minOccurs="0" name="listaCotitulares" nillable="true" type="cotitulares"/>
         <xs:element minOccurs="0" name="matriculacion" type="matriculacion"/>
         <xs:element minOccurs="0" name="requisitoria" type="requisitoria"/>
         <xs:element minOccurs="0" name="servicioAutonomo" type="servicioAutonomo"/>
         <xs:element minOccurs="0" name="titular" type="titular"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="detalleVehiculo">
      <xs:all>
         <xs:element minOccurs="0" name="bastidor" type="xs:string"/>
         <xs:element minOccurs="0" name="marca" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="modelo" type="xs:string"/>
         <xs:element minOccurs="0" name="nive" type="xs:string"/>
         <xs:element minOccurs="0" name="paisProcedencia" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="servicio" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="servicioComplementario" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="tipoIndustria" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="tipoVehiculo" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="tipoDescrito">
      <xs:all>
         <xs:element minOccurs="0" name="codigo" type="xs:string"/>
         <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="domicilio">
      <xs:all>
         <xs:element minOccurs="0" name="calle" type="xs:string"/>
         <xs:element minOccurs="0" name="codPostal" type="xs:string"/>
         <xs:element minOccurs="0" name="municipio" type="xs:string"/>
         <xs:element minOccurs="0" name="provincia" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="pueblo" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="fechasVehiculo">
      <xs:all>
         <xs:element minOccurs="0" name="fechaCaducidadTuristica" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaImportacion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaItv" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaMatriculacion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaPrimeraMatriculacion" type="xs:dateTime"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="indicadores">
      <xs:all>
         <xs:element minOccurs="0" name="bajaDefinitiva" type="xs:string"/>
         <xs:element minOccurs="0" name="bajaTemporal" type="xs:string"/>
         <xs:element minOccurs="0" name="cargaEEFF" type="xs:string"/>
         <xs:element minOccurs="0" name="embargo" type="xs:string"/>
         <xs:element minOccurs="0" name="excesoPesoDimension" type="xs:string"/>
         <xs:element minOccurs="0" name="importacion" type="xs:string"/>
         <xs:element minOccurs="0" name="incidencias" type="xs:string"/>
         <xs:element minOccurs="0" name="limitacionDisposicion" type="xs:string"/>
         <xs:element minOccurs="0" name="posesion" type="xs:string"/>
         <xs:element minOccurs="0" name="precinto" type="xs:string"/>
         <xs:element minOccurs="0" name="puertoFranco" type="xs:string"/>
         <xs:element minOccurs="0" name="reformas" type="xs:string"/>
         <xs:element minOccurs="0" name="renting" type="xs:string"/>
         <xs:element minOccurs="0" name="subasta" type="xs:string"/>
         <xs:element minOccurs="0" name="sustraccion" type="xs:string"/>
         <xs:element minOccurs="0" name="tutela" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="cotitulares">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="cotitular" type="cotitular"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotitular">
      <xs:all>
         <xs:element minOccurs="0" name="idDocumento" type="xs:string"/>
         <xs:element minOccurs="0" name="filiacion" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="matriculacion">
      <xs:all>
         <xs:element minOccurs="0" name="claseMatriculacion" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="fechaMatriculacion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="matricula" type="xs:string"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="requisitoria">
      <xs:all>
         <xs:element minOccurs="0" name="tipo" type="xs:string"/>
         <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaVigor" type="xs:string"/>
         <xs:element minOccurs="0" name="acciones" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="servicioAutonomo">
      <xs:all>
         <xs:element minOccurs="0" name="codigoIAE" type="xs:string"/>
         <xs:element minOccurs="0" name="doiTitularAutonomo" type="xs:string"/>
         <xs:element minOccurs="0" name="indicador" type="xs:boolean"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="titular">
      <xs:all>
         <xs:element minOccurs="0" name="datosPersona" type="datosPersona"/>
         <xs:element minOccurs="0" name="domicilio" type="domicilio"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosPersona">
      <xs:all>
         <xs:element minOccurs="0" name="identificacionPFisica" type="personaFisica"/>
         <xs:element minOccurs="0" name="identificacionPJuridica" type="personaJuridica"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="personaFisica">
      <xs:all>
         <xs:element minOccurs="0" name="apellido1" type="xs:string"/>
         <xs:element minOccurs="0" name="apellido2" type="xs:string"/>
         <xs:element minOccurs="0" name="dirElectronicaVial" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="idDocumento" type="xs:string"/>
         <xs:element minOccurs="0" name="indicadorDevPF" type="xs:boolean"/>
         <xs:element minOccurs="0" name="nombre" type="xs:string"/>
         <xs:element minOccurs="0" name="sexo" type="xs:string"/>
         <xs:element minOccurs="0" name="tipoPersona" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="personaJuridica">
      <xs:all>
         <xs:element minOccurs="0" name="cif" type="xs:string"/>
         <xs:element minOccurs="0" name="indicadorDevPJ" type="xs:boolean"/>
         <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
         <xs:element minOccurs="0" name="tipoPersona" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosTecnicos">
      <xs:all>
         <xs:element minOccurs="0" name="carroceria" type="xs:string"/>
         <xs:element minOccurs="0" name="catHomologacion" type="xs:string"/>
         <xs:element minOccurs="0" name="color" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="combustibleEmisiones" type="combustibleEmisiones"/>
         <xs:element minOccurs="0" name="distancias" type="distancias"/>
         <xs:element minOccurs="0" name="documentos" type="documentos"/>
         <xs:element minOccurs="0" name="fabricante" type="xs:string"/>
         <xs:element minOccurs="0" name="masas" type="masas"/>
         <xs:element minOccurs="0" name="numHomologacion" type="xs:string"/>
         <xs:element minOccurs="0" name="plazas" type="plazas"/>
         <xs:element minOccurs="0" name="potencias" type="potencias"/>
         <xs:element minOccurs="0" name="procedencia" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="tipoItv" type="xs:string"/>
         <xs:element minOccurs="0" name="variante" type="xs:string"/>
         <xs:element minOccurs="0" name="version" type="xs:string"/>
         <xs:element minOccurs="0" name="datosTarjetaItv" type="datosTarjetaItv"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="combustibleEmisiones">
      <xs:all>
         <xs:element minOccurs="0" name="autonomiaElectrica" type="xs:string"/>
         <xs:element minOccurs="0" name="categoriaElectrica" type="xs:string"/>
         <xs:element minOccurs="0" name="codigoEco" type="xs:string"/>
         <xs:element minOccurs="0" name="codos" type="xs:string"/>
         <xs:element minOccurs="0" name="consumo" type="xs:float"/>
         <xs:element minOccurs="0" name="ecoInnovacion" type="xs:string"/>
         <xs:element minOccurs="0" name="nivelEmisiones" type="xs:string"/>
         <xs:element minOccurs="0" name="propulsion" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="reduccionEco" type="xs:string"/>
         <xs:element minOccurs="0" name="tipoAlimentacion" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="distancias">
      <xs:all>
         <xs:element minOccurs="0" name="distanciaEjes" type="xs:int"/>
         <xs:element minOccurs="0" name="viaAnterior" type="xs:int"/>
         <xs:element minOccurs="0" name="viaPosterior" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="documentos">
      <xs:all>
         <xs:element minOccurs="0" name="certificadoConformidad" type="documento"/>
         <xs:element minOccurs="0" name="hojaRosa" type="documento"/>
         <xs:element minOccurs="0" name="hojaRescate" type="documento"/>
         <xs:element minOccurs="0" name="periodoValidezTarjeta" type="xs:string"/>
         <xs:element minOccurs="0" name="periodoValidezTarjeta15" type="xs:string"/>
         <xs:element minOccurs="0" name="periodoValidezTarjetaNoValida" type="xs:string"/>
         <xs:element minOccurs="0" name="periodoValidezTarjetaValida" type="xs:string"/>
         <xs:element minOccurs="0" name="tarjetaItvDefinitiva" type="documento"/>
         <xs:element minOccurs="0" name="tarjetaItvNoValida" type="documento"/>
         <xs:element minOccurs="0" name="tarjetaItvTemporal" type="documento"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="documento">
      <xs:all>
         <xs:element minOccurs="0" name="datos" type="xs:base64Binary"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="masas">
      <xs:all>
         <xs:element minOccurs="0" name="masaMaxTecnica" type="xs:int"/>
         <xs:element minOccurs="0" name="masaMaxima" type="xs:int"/>
         <xs:element minOccurs="0" name="masaServicio" type="xs:int"/>
         <xs:element minOccurs="0" name="pesoMaximo" type="xs:int"/>
         <xs:element minOccurs="0" name="tara" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="plazas">
      <xs:all>
         <xs:element minOccurs="0" name="mixtas" type="xs:string"/>
         <xs:element minOccurs="0" name="normales" type="xs:int"/>
         <xs:element minOccurs="0" name="numPlazasPie" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="potencias">
      <xs:all>
         <xs:element minOccurs="0" name="cilindrada" type="xs:float"/>
         <xs:element minOccurs="0" name="potenciaFiscal" type="xs:float"/>
         <xs:element minOccurs="0" name="potenciaNetaMax" type="xs:float"/>
         <xs:element minOccurs="0" name="relPotenciaPeso" type="xs:float"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosTarjetaItv">
      <xs:all>
         <xs:element minOccurs="0" name="tipoTarjetaItv" type="xs:string"/>
         <xs:element minOccurs="0" name="fabricanteBase" type="xs:string"/>
         <xs:element minOccurs="0" name="masaServicioBase" type="xs:string"/>
         <xs:element minOccurs="0" name="marcaBase" type="xs:string"/>
         <xs:element minOccurs="0" name="chomologacionBase" type="xs:string"/>
         <xs:element minOccurs="0" name="tipoBase" type="xs:string"/>
         <xs:element minOccurs="0" name="varianteBase" type="xs:string"/>
         <xs:element minOccurs="0" name="versionBase" type="xs:string"/>
         <xs:element minOccurs="0" name="momBase" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosResponsables">
      <xs:all>
         <xs:element minOccurs="0" name="listaArrendatarios" nillable="true" type="arrendatarios"/>
         <xs:element minOccurs="0" name="listaConductoresHabituales" nillable="true"
                     type="conductoresHabituales"/>
         <xs:element minOccurs="0" name="listaPoseedores" nillable="true" type="poseedores"/>
         <xs:element minOccurs="0" name="listaTutores" nillable="true" type="tutores"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="arrendatarios">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="arrendatario" type="arrendatario"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrendatario">
      <xs:all>
         <xs:element minOccurs="0" name="fechaFin" nillable="true">
            <xs:simpleType>
               <xs:list itemType="xs:dateTime"/>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="filiacion" type="xs:string"/>
         <xs:element minOccurs="0" name="idDocumento" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="conductoresHabituales">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="conductorHabitual"
                     type="conductorHabitual"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conductorHabitual">
      <xs:all>
         <xs:element minOccurs="0" name="fechaFin" nillable="true">
            <xs:simpleType>
               <xs:list itemType="xs:dateTime"/>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="filiacion" type="xs:string"/>
         <xs:element minOccurs="0" name="idDocumento" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="poseedores">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="poseedor" type="poseedor"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poseedor">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="domicilio" type="domicilio"/>
         <xs:element minOccurs="0" name="fechaPosesion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="filiacion" type="xs:string"/>
         <xs:element minOccurs="0" name="idDocumento" type="xs:string"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="situacionPosesion" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="tutores">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="tutor" type="tutor"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tutor">
      <xs:all>
         <xs:element minOccurs="0" name="fechaTramite" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="idDocumento" type="xs:string"/>
         <xs:element minOccurs="0" name="tramite" type="xs:string"/>
         <xs:element minOccurs="0" name="filiacion" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosTramites">
      <xs:all>
         <xs:element minOccurs="0" name="listaBajas" nillable="true" type="bajas"/>
         <xs:element minOccurs="0" name="listaDuplicados" nillable="true" type="duplicados"/>
         <xs:element minOccurs="0" name="listaProrrogas" nillable="true" type="prorrogas"/>
         <xs:element minOccurs="0" name="listaRematriculaciones" nillable="true"
                     type="rematriculaciones"/>
         <xs:element minOccurs="0" name="listaTransferencias" nillable="true" type="transferencias"/>
         <xs:element minOccurs="0" name="matriculacionTemporal" type="matriculacionTemporal"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="bajas">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="baja" type="baja"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baja">
      <xs:all>
         <xs:element minOccurs="0" name="causaBaja" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="fechaFin" nillable="true">
            <xs:simpleType>
               <xs:list itemType="xs:dateTime"/>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="tipoBaja" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="duplicados">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="duplicado" type="duplicado"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="duplicado">
      <xs:all>
         <xs:element minOccurs="0" name="fechaDuplicado" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="razonDuplicado" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="prorrogas">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="prorroga" type="prorroga"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prorroga">
      <xs:all>
         <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="rematriculaciones">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="rematriculacion"
                     type="rematriculacion"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rematriculacion">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaRematriculacion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="razonRematriculacion" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="transferencias">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="transferencia" type="transferencia"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transferencia">
      <xs:all>
         <xs:element minOccurs="0" name="fechaTransferencia" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="idDocumentoAnterior" type="xs:string"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="matriculacionTemporal">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="matriculaAnterior" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosAdministrativos">
      <xs:all>
         <xs:element minOccurs="0" name="listaAvisos" nillable="true" type="avisos"/>
         <xs:element minOccurs="0" name="listaDenegatorias" nillable="true" type="denegatorias"/>
         <xs:element minOccurs="0" name="listaEmbargos" nillable="true" type="embargos"/>
         <xs:element minOccurs="0" name="listaImpagos" nillable="true" type="impagos"/>
         <xs:element minOccurs="0" name="listaLimitaciones" nillable="true"
                     type="limitacionesDisposicion"/>
         <xs:element minOccurs="0" name="listaPrecintos" nillable="true" type="precintos"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="avisos">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="aviso" type="aviso"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aviso">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="denegatorias">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="denegatoria" type="denegatoria"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="denegatoria">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="jefatura" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="sucursal" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="embargos">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="embargo" type="embargo"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embargo">
      <xs:all>
         <xs:element minOccurs="0" name="accionJudicial" type="accionJudicial"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="accionJudicial">
      <xs:all>
         <xs:element minOccurs="0" name="autoridad" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="expediente" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaMaterializacion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaTramite" type="xs:dateTime"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="impagos">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="impago" type="impago"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="impago">
      <xs:all>
         <xs:element minOccurs="0" name="anyoImpago" type="xs:string"/>
         <xs:element minOccurs="0" name="doi" type="xs:string"/>
         <xs:element minOccurs="0" name="municipio" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="provincia" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="limitacionesDisposicion">
      <xs:all>
         <xs:element minOccurs="0" name="limitacionDisposicion" type="limitacionDisposicion"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="limitacionDisposicion">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="financiera_domicilio" type="xs:string"/>
         <xs:element minOccurs="0" name="registro" type="xs:string"/>
         <xs:element minOccurs="0" name="tipoLimitacion" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="precintos">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="precinto" type="precinto"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinto">
      <xs:all>
         <xs:element minOccurs="0" name="accionJudicial" type="accionJudicial"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosITVReformas">
      <xs:all>
         <xs:element minOccurs="0" name="listaItvs" nillable="true" type="itvs"/>
         <xs:element minOccurs="0" name="listaReformas" nillable="true" type="reformas"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="itvs">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="itv" type="itv"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itv">
      <xs:all>
         <xs:element minOccurs="0" name="anotacion" type="xs:string"/>
         <xs:element minOccurs="0" name="cuentaHoras" type="xs:int"/>
         <xs:element minOccurs="0" name="estacion" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaFinAnterior" nillable="true">
            <xs:simpleType>
               <xs:list itemType="xs:dateTime"/>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="fechaItv" nillable="true">
            <xs:simpleType>
               <xs:list itemType="xs:dateTime"/>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="kilometraje" type="xs:int"/>
         <xs:element minOccurs="0" name="listaDefectosItv" nillable="true" type="defectosItv"/>
         <xs:element minOccurs="0" name="motivoItv" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="provincia" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="resultadoItv" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="defectosItv">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="defectoItv" type="defectoItv"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defectoItv">
      <xs:all>
         <xs:element minOccurs="0" name="gravedadDefectoItv" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="tipoDefectoItv" type="tipoDescrito"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="reformas">
      <xs:all>
         <xs:element minOccurs="0" name="reforma" type="reforma"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="reforma">
      <xs:all>
         <xs:element minOccurs="0" name="estacionReforma" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaReforma" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="fechaValidez" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="listaMotivosReforma" nillable="true" type="motivosReforma"/>
         <xs:element minOccurs="0" name="nuevoPermiso" type="xs:string"/>
         <xs:element minOccurs="0" name="provinciaReforma" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="motivosReforma">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="motivoReforma" type="motivoReforma"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motivoReforma">
      <xs:all>
         <xs:element minOccurs="0" name="datosReforma" type="xs:string"/>
         <xs:element minOccurs="0" name="observacionesReforma" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosSeguros">
      <xs:all>
         <xs:element minOccurs="0" name="listaSeguros" type="seguros"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="seguros">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="seguro" type="seguro"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seguro">
      <xs:all>
         <xs:element minOccurs="0" name="contratoSeguro" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="entidad" type="tipoDescrito"/>
         <xs:element minOccurs="0" name="fechaFin" nillable="true">
            <xs:simpleType>
               <xs:list itemType="xs:dateTime"/>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="resumenVehiculo">
      <xs:all>
         <xs:element minOccurs="0" name="matricula" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosSeguridad">
      <xs:sequence>
         <xs:element minOccurs="0" name="listaElementosSeguridad" type="elementosSeguridad"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ncap" type="ncap"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="hojaRescate" type="hojaRescate"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elementosSeguridad">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="elementoSeguridad"
                     type="elementoSeguridad"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elementoSeguridad">
      <xs:all>
         <xs:element minOccurs="0" name="nombre" type="xs:string"/>
         <xs:element minOccurs="0" name="tipo" type="xs:string"/>
         <xs:element minOccurs="0" name="valor" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ncap">
      <xs:all>
         <xs:element minOccurs="0" name="anioEnsayo" type="xs:string"/>
         <xs:element minOccurs="0" name="adultos" type="xs:float"/>
         <xs:element minOccurs="0" name="menores" type="xs:float"/>
         <xs:element minOccurs="0" name="peatones" type="xs:float"/>
         <xs:element minOccurs="0" name="seguridad" type="xs:float"/>
         <xs:element minOccurs="0" name="global" type="xs:float"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="hojaRescate">
      <xs:all>
         <xs:element minOccurs="0" name="strHojaRescate" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="datosLibroTaller">
      <xs:all>
         <xs:element minOccurs="0" name="listaDetalleIncidencias" type="detalleIncidencias"/>
         <xs:element minOccurs="0" name="detalleIncidenciaSeleccionada" type="detalleIncidencia"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="detalleIncidencias">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="detalleIncidencia"
                     type="detalleIncidencia"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detalleIncidencia">
      <xs:all>
         <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="kms" type="xs:string"/>
         <xs:element minOccurs="0" name="importancias" type="xs:string"/>
         <xs:element minOccurs="0" name="tipo" type="xs:string"/>
         <xs:element minOccurs="0" name="concepto" type="xs:string"/>
         <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
         <xs:element minOccurs="0" name="anotador" type="xs:string"/>
         <xs:element minOccurs="0" name="fechaLegalizacion" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="pieza" type="xs:string"/>
         <xs:element minOccurs="0" name="lstIncidenciaTaller" type="lstIncidenciaTaller"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="lstIncidenciaTaller">
      <xs:all>
         <xs:element minOccurs="0" name="incidenciaTaller" type="incidenciaTaller"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="incidenciaTaller">
      <xs:all>
         <xs:element minOccurs="0" name="tipo" type="xs:string"/>
         <xs:element minOccurs="0" name="elemento" type="xs:string"/>
      </xs:all>
   </xs:complexType>
</xs:schema>