scsp-schemas-xsd/src/main/resources/jaxb/schemas/SVDNOTSUBADMWS01v3/datos-especificos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="comun.xsd"/>
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:choice>
			<xs:element name="Consulta">
				<xs:annotation>
					<xs:documentation>Bloque que contiene información sobre la consulta de la petición.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DATOS_PROTOCOLO" type="PROTOCOLO_CONSULTAType">
							<xs:annotation>
								<xs:documentation>Protocolo de Constitución de Sociedad y/o Nombramiento de Cargos</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Retorno">
				<xs:annotation>
					<xs:documentation>Bloque que contiene información sobre los datos de la respuesta.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="Estado">
							<xs:annotation>
								<xs:documentation>Bloque que contiene información sobre el estado del retorno del servicio.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:all>
									<xs:element name="CodigoEstado">
										<xs:annotation>
											<xs:documentation>Código de retorno del servicio, es representado mediante un valor númerico.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CodigoEstadoSecundario" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código numérico que identifica con más detalle el retorno del servicio.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="16"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LiteralError">
										<xs:annotation>
											<xs:documentation>Descripcion de la respuesta</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
						<xs:element name="PROTOCOLOS_CONSTITUCION" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PROTOCOLO_CONSTITUCION" type="PROTOCOLOS_CONSTITUCIONType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Protocolo de Constitución de Sociedad</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DOCUMENTOS_RELACIONADOS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DOCUMENTO_RELACIONADO" type="DATOS_PROTOCOLO_SOCIEDADType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PROTOCOLO_CONSULTAType">
		<xs:sequence>
			<xs:element name="ID_ESCRITURA" type="ID_ESCRITURAType">
				<xs:annotation>
					<xs:documentation>Elemento con información referente a la escritura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ALERTA" type="ALERTAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datos identificativos del aviso de alerta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ID_ESCRITURAType">
		<xs:annotation>
			<xs:documentation>Datos identificativos de la escritura</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="COD_NOTARIO" type="CODIGO_NOTARIOType">
				<xs:annotation>
					<xs:documentation>Identificacion del Notario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COD_NOTARIA" type="CODIGO_NOTARIAType">
				<xs:annotation>
					<xs:documentation>Identificacion unica de la Notaria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NUM_PROTOCOLO" type="NUMERO_DOCUMENTOType">
				<xs:annotation>
					<xs:documentation>Numero  de protocolo de la escritura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NUM_BIS" type="NUMERO_DOCUMENTO_BISType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero de Bis del protocolo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_AUTORIZACION" type="FECHAType">
				<xs:annotation>
					<xs:documentation>Fecha de autorizacion de la escritura.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ALERTAType">
		<xs:annotation>
			<xs:documentation>Datos identificativos de la persona</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ID_APLICACION" type="ID_APLICACIONType">
				<xs:annotation>
					<xs:documentation>Identificador de aplicación para la gestión de avisos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_AVISO" type="FECHAType">
				<xs:annotation>
					<xs:documentation>Fecha hasta la que se desean recibir alertas si el poder cambia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EMAIL" type="EmailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Correo electrónico al que se quiere recibir el aviso de cambio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SMS" type="SMSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número de móvil 9 posiciones al que se quiere recibir el aviso de cambio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DATOS_PROTOCOLO_SOCIEDADType">
		<xs:annotation>
			<xs:documentation>Datos identificativos de la escritura</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CODIGO_NOTARIO" type="CODIGO_NOTARIOType">
				<xs:annotation>
					<xs:documentation>Identificacion del Notario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOTARIO" type="STRINGType" minOccurs="0"/>
			<xs:element name="CODIGO_NOTARIA" type="CODIGO_NOTARIAType">
				<xs:annotation>
					<xs:documentation>Identificacion unica de la Notaria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOTARIA" type="STRINGType" minOccurs="0"/>
			<xs:element name="NUM_PROTOCOLO" type="NUMERO_DOCUMENTOType">
				<xs:annotation>
					<xs:documentation>Numero  de protocolo de la escritura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NUM_BIS" type="NUMERO_DOCUMENTO_BISType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero de Bis del protocolo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_AUTORIZACION" type="FECHAType">
				<xs:annotation>
					<xs:documentation>Fecha de autorizacion de la escritura. Se informará en los envíos de copia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OPE" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Datos de la operación</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACTO_JURIDICO" type="ACTO_JURIDICOType"/>
									<xs:element name="DESCRIPCION_ACTO_JURIDICO">
										<xs:simpleType>
											<xs:restriction base="STRINGType">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ADMINISTRADORES" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ADMINISTRADOR" type="ADMINISTRADORType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SOCIEDAD" type="SOCIEDADType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DOCUMENTO_IDENTIDADType">
		<xs:sequence>
			<xs:element name="TIP_DOC_IDE" type="TIPO_DOCUMENTO_IDENTIDADType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de documento de identidad ("1" NIF/CIF, "2" NIE, "3" Pasaporte, "4" Menores de edad que carezcan de dicho número, "5" Entidad recién constituida que carece de NIF, 
					"6" Falta de aportación del NIF o NIF aportado pero no válido, "7" Cónyuge cotitular que no interviene, "8" Documento de identificación de extranjero, "9" Documento de persona jurídica extranjera,
					"10" Falta de aportación de NIF o NIE, "11" Falta de aportación de NIF, "12" Tarjeta de residencia, "15" Documento de identificación distinto o ausencia de cualquiera de ellos)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CIR_AUS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Circunstancias concretas concurrentes de la ausencia del documento de identidad</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NUM_DOC_IDE" type="NUMERO_DOCUMENTO_IDENTIDADType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número del documento de identidad</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUJETOType">
		<xs:sequence>
			<xs:element name="SUJETO_ID" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Identificador interno del sujeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DOC_IDE" type="DOCUMENTO_IDENTIDADType">
				<xs:annotation>
					<xs:documentation>Documento de identidad del sujeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOM" type="NOMBRE_PERSONAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nombre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APE1_RAZ_SOC" type="APELLIDOS_PERSONAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Primer apellido o razón social</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APE2" type="APELLIDOS_PERSONAType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Segundo apellido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NAC" type="CODIGO_PAISType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código de país, según la codificación oficial de Países y Territorios aprobada por OM 9-12-99</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADMINISTRADORType">
		<xs:annotation>
			<xs:documentation>Datos identificativos del administrador</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NIF" type="NIFType"/>
			<xs:element name="NOMBRE" type="NOMBREType">
				<xs:annotation>
					<xs:documentation>Nombre de la persona</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APELLIDO1" type="APELLIDOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Primer apellido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APELLIDO2" type="APELLIDOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Segundo apellido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIPO_ADMINISTRACION" type="TIPO_ADMINISTRACIONType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PROTOCOLOS_CONSTITUCIONType">
		<xs:sequence>
			<xs:element name="DATOS_PROTOCOLO" type="DATOS_PROTOCOLO_SOCIEDADType">
				<xs:annotation>
					<xs:documentation>Protocolo de Constitución de Sociedad</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ESTADO_ADMINISTRACION" type="ESTADO_ADMINISTRACIONType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
